.idea
#Ignore Terraform stuff
*.tfstate*
*.terraform*
*.tfvars.*
#Ignore java build file
.DS_Store
.vscode/launch.json
.vscode/c_cpp_properties.json
.vscode/settings.json
**/*.plan
**/*.out
**/*venv*
**/*.terragrunt-cache
**/*.egg-info/
**/build/
**/dist
